<header>
  <div class="toolbar header nav" role="banner">
    <a href="#">
      <i class="fas fa-atom logo"></i>
      <span class="titulo">Pokémon</span>
    </a>
    <div class="titulo2">
      Catálogo
    </div>

    <div >
      <a class="linkAPI" href="https://pokeapi.co/api/v2/ability" target="blank" >
        <i class="fas fa-bookmark mr-2"></i> Documentation API
      </a>
    </div>
  </div>
 
    <!-- Contenedor Section Principal -->
    <div class="d-flex justify-content-center align-items-center content2">
    </div>  
  
  </header>
