<header>
  <div class="toolbar header nav" role="banner">
    <div class="col-md-4">
      <a href="#">
        <i class="fas fa-atom logo"></i>
        <span class="titulo">Pokémon</span>
      </a>
    </div>
    <div class="col-md-4">
      <div class="titulo2">
        Catálogo
      </div>
    </div>
    <div class="col-md-4">
        <a class="linkAPI" href="https://pokeapi.co/docs/v2" target="blank">
          <i class="fas fa-bookmark mr-2"></i> Documentation API
        </a>
    </div>
  </div>
</header>
<br>
<br>
<br>
<br>